django==1.4
gunicorn==19.3.0
oauth2client
gspread
whitenoise==2.0
PyOpenSSL
dj-database-url==0.3.0
dj-static==0.0.6
python-social-auth==0.2.1
django-bootstrap-form==3.2
configparser==3.5.0
psycopg2==2.6.1
pytz==2015.7